<app-go-back-button backRoute="/customers"></app-go-back-button>

<h1>Customer</h1>

<div class="container">
  <div class="row">
  
    <div class="col-12">
      <span class="customerId">{{ customer?.id }}</span> <span class="customerName">{{ customer?.firstName }} {{ customer?.lastName }}</span>
      <div style="float:right;">
          <!-- <a class="btn btn-warning btn-sm" [routerLink]="['/customers/' + customer.id + '/edit']">Edit</a> -->
          <button class="btn btn-danger btn-sm" (click)="delete(customer.id)">Delete</button>
      </div> <br/>

      <app-customer-order-list [orders]="customer?.orders" ></app-customer-order-list>

    </div>
  </div>
</div>