<h1>Customers</h1>
<div class="container">
    <a class="btn btn-primary" [routerLink]="['/customers/new']">Add Customer</a>
    <!-- <a class="btn btn-primary" (click)="addCustomerClick()">Add Customer</a> -->
</div>
<hr>
<div class="clearfix"></div>
<div *ngFor="let customer of customers; let i = index">
    <div class="row">
      <span class="customerId">{{customer.id}}.</span>  
      <a [routerLink]="['/customers/' + customer.id]">
        <span class="customerName">{{ customer.firstName }} {{ customer.lastName }}</span> 
      </a> 
      &nbsp;({{ customer.orders.length }} orders)
    </div>
   
    <div class="clearfix visible-lg" *ngIf="(i + 1) % 4 == 0"></div>

</div>
<div class="clearfix"></div>