<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="/"><span style="font-size:30px;">State Mgmt</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <div class="mr-auto"></div>
        
      <ul class="navbar-nav ">

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/customers">Customers</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/customers-redux">Customers (Redux)</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/seed-data">Seed Data</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/contact">Contact Us</a>
        </li>
      </ul>

    </div>
  </div>
</nav>